.groupeditmodal {
  > .overflowdialog--children {
    flex-direction: column;
  }

  &--header {
    display: flex;
    margin-bottom: 10px;
  }

  .group {
    margin-top: 5px;
  }

  &--search_container {
    min-width: 360px;
  }
}
