.header {
  // position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: $header-height;
  // box-shadow: 0px 0px 1px #263238;
  background: transparent; // #fafafa;
  z-index: 100;
  transition: all ease-in-out 0.5s;

  &:hover,
  &:focus {
    // box-shadow: 0px 0px 5px #263238;
  }

  &--inner {
    display: flex !important;
    justify-content: space-between;
    height: 100%;

    > * {
      display: flex;
    }
  }

  &--button,
  &--right > .menubutton > .button {
    > .button--label,
    > svg {
      font-size: 14px;
    }
  }

  &--search_container {
    display: inline-flex;
    align-items: center;
    height: $header-height;

    > svg {
      font-size: 14px;
      padding: 4px 8px;
    }
  }
}
