.loginmodal {
  &--form {
    padding: 10px;
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &--inputs,
  &--inputs > .expandable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > *:not(:last-child) {
      margin-bottom: 10px !important;
    }
  }

  &--error {
    color: #f44336;
    font-size: 12px;
  }

  &--switchform {
    align-self: flex-start;
  }
}
