.page_post {
  &--body {
    // max-width: 640px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
  }
}
