.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  max-width: 700px;

  &--size {
    &-small {
      // margin-right: 6px;
      // margin-bottom: 6px;
      display: inline-block;
    }

    &-full {
      flex: 0 0 auto;
      padding: 0px;
      width: 100%;
      margin-bottom: 20px;
      min-height: 40px;
      min-width: 300px;
    }
  }

  &--card {
    min-width: 300px;
    position: relative;
    border-radius: 4px;
    border: none !important;
  }

  &--size-small &--card {
    width: 300px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
  }

  &--size-small &--card > * {
    pointer-events: none;
  }

  &--type-youtube.post--size-small &--thumbnail {
    margin: 0px;
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
  }

  &--size-small &--mention {
    font-size: 0.75rem;
  }

  &--main {
    display: flex;
  }

  &--size-full &--main {
    padding: 3px;
    box-sizing: border-box;
  }

  &--size-full &--main > .avatar {
    margin-right: 3px;
  }

  &--content {
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    overflow: hidden;
    position: relative;
  }

  &--readmore {
    padding: 5px 10px;
    > * {
      font-size: 14px;
    }
  }

  &--size-full.post--type-youtube &--content {
    margin: 0px;
    box-sizing: border-box;
  }

  &--size-small.post--type-text &--content {
    overflow: hidden;
    white-space: break-spaces;
    box-sizing: border-box;

    background-color: #424242;
    background: linear-gradient(to bottom, #424242 70%, transparent 90%);

    background-clip: text;
    fill: transparent;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      top: 70%;
      bottom: 0px;
    }
  }

  &--size-small > &--spoiler + &--content {
    filter: blur(25px);
  }

  &--spoiler {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    color: #212121;
    font-size: 1.75rem;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;

    > span {
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  &--blur > .markdown {
    filter: blur(40px);
  }

  &--tags {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > .tag {
      margin-bottom: 1px;
    }
  }

  &--tag:not(:last-child) {
    margin-right: 1px !important;
  }

  &--date {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #424242;
    text-align: right;
    padding: 4px;

    transition: all ease-in-out 0.1s;
  }

  &--below_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 640px;
    padding-bottom: 20px;
  }

  &--reaction > .button--label {
    font-size: 16px;
  }

  &--size-small &--comments {
    font-size: 1rem;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    transition: 0.2s all ease-in-out;
  }

  &--size-small &--footer {
    opacity: 0.35;
  }

  &--size-small:hover &--footer {
    opacity: 0.7;
  }

  &--author {
    margin-right: 10px;
  }

  &--after_post {
    min-width: 300px;
    margin-top: 15px;
  }

  &--icon,
  &--icon_comment {
    filter: drop-shadow(0px 0px 3px white);
  }

  &--icon {
    position: absolute;
    left: 28px;
  }

  &--icon_comment {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 8px;
    z-index: 20;
  }

  &--reactions {
    margin-bottom: 5px;
  }

  .twitter-tweet {
    margin: 0px !important;
  }
}
