.postview {
  &--controls {
    min-height: 30px;
    max-height: 35px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all ease-in-out 0.2s;

    .button > * {
      font-size: 20px;
    }

    > * {
      margin-bottom: 5px;
    }
  }

  &--hide {
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    margin: 0px;
  }

  &--sizes {
    display: flex;

    > *:not(:last-child) {
      margin-right: 2px;
    }
  }

  &--loading > &--posts,
  &--empty > &--posts {
    font-style: italic;
    color: #9e9e9e;
  }

  &--posts {
    padding-bottom: 1px; // to make the div respect post bottom margin
    display: flex;
    flex-direction: column;
  }

  &--posts > .post--size-full {
    margin-bottom: 70px;
  }

  &--header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;

    & > * {
      margin-right: 5px;
    }
  }

  &--query,
  &--title {
    font-size: 30px;
    font-weight: 800;
  }

  &--container_add {
    width: 285px;
    background: #e0e0e0;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    box-sizing: border-box;
    color: #9e9e9e;
    font-style: italic;
    cursor: pointer;
  }
}
