.settingsmodal {
  &--group {
    display: flex;
  }
  &--title {
    font-size: 1.5rem;
    font-weight: 100;
    margin-right: 10px;
  }
  &--inputs > div:not(:last-child) {
    margin-bottom: 5px;
  }
}
