.iconbutton {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  color: $icon-primary-color;
  cursor: pointer;

  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: $card-border-color;
    color: white;
  }

  &:focus {
    border: none;
    outline: none;
  }

  svg {
    font-size: 15px;
    vertical-align: bottom;
  }
}

.linkbutton {
  background: none;
  outline: none;
  border: none;
  color: #263238;
  text-decoration: underline;
  text-decoration-color: #cfd8dc;
  cursor: pointer;

  transition: all ease-in-out 0.2s;

  &:hover {
    text-decoration-color: #263238;
  }
}
