.button {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;
  user-select: none;

  &--type-button {
    border-radius: 2px;
    background-color: transparent;
    color: $icon-primary-color;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 3px 5px;

    &:hover,
    &:focus {
      background-color: $card-border-color;
      color: white;
    }
  }

  &[disabled] {
    color: #b0bec5;
    pointer-events: none;
  }

  &--type-link {
    background: none;
    outline: none;
    border: none;
    color: #263238;
    text-decoration: #b0bec5 underline;
    cursor: pointer;
    padding: 0px;

    &:hover,
    &:focus {
      text-decoration-color: #263238;
    }
  }

  svg {
    font-size: 15px;
    vertical-align: bottom;
  }

  svg + &--label {
    margin-left: 3px;
  }

  &--rounded {
    border-radius: 100%;
    border: 1px solid $card-border-color;
    height: 16px;
    width: 16px;
    background-color: white;
    padding: 1px;

    svg {
      font-size: 12px;
    }
  }

  &--label {
    font-size: 12px;
  }

  &--outlined {
    border: 1px solid $card-border-color;
  }
}
