.card {
  border: 1px solid $card-border-color;
  border-radius: 2px;
  box-shadow: 2px 2px $card-border-color;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  align-items: stretch;
  padding: 8px;

  &--children {
    > * {
      margin-bottom: 5px;
    }
  }

  &--size-regular {
    > .card--header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .card--title {
        text-decoration: none;
        font-weight: 100;
        font-size: 20px;
      }
    }
  }

  &--size-small {
    position: relative;
    justify-content: space-between;
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    > .card--header .card--title {
      text-decoration: none;
      font-weight: 100;
      font-size: 16px;
    }
  }

  &--root {
    > .card--header .card--title {
      font-size: 20px;
    }
  }

  > .card--header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card--title {
      display: flex;

      .iconbutton {
        margin: 0px 5px;
      }
    }
  }

  > .card--children {
    > * {
      margin-top: 8px;
    }

    .card--title {
      font-size: 16px;
    }

    .card {
      padding: 4px 6px;
    }
  }
}
