.card {
  border: 1px solid $card-border-color;
  border-radius: 2px;
  box-shadow: 2px 2px $card-border-color;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  align-items: stretch;
  padding: 8px;

  &--children {
    > * {
      margin-bottom: 5px;
    }
  }

  &--size-regular {
    margin: 5px;

    .card--header {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      align-items: center;
      justify-content: space-between;
    }

    .card--title {
      text-decoration: none;
      font-weight: 100;
      font-size: 20px;
    }
  }

  &--size-small {
    display: flex;
    flex-direction: row;
    padding: 4px 6px;
    font-size: 12px;
    position: relative;
    justify-content: space-between;
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .card--title {
      text-decoration: none;
      font-weight: 100;
      font-size: 16px;
    }

    .card--left {
      flex-direction: column;
    }

    .card--right {
      display: flex;
      align-items: stretch;

      svg {
        font-size: 20px;
        vertical-align: bottom;
      }

      a {
        display: flex;
        align-items: center;
        border-radius: 2px;
        color: $card-border-color;

        transition: all ease-in-out 0.2s;

        &:hover {
          background-color: $card-border-color;
          color: white;
        }
      }
    }
  }
}
