.colorpicker {
  display: flex;
  position: relative;
  width: 18px;
  height: 18px;

  &--trigger {
    width: 100%;
    height: 100%;
    outline: none;
  }

  &--picker {
    position: fixed !important;
    margin-top: 30px;
    z-index: 100;

    > div:nth-child(1) {
      left: 0px !important;
    }

    > div:nth-child(2) {
      left: 1px !important;
    }
  }
}
