@import "variables.scss";

.mini-card .content {
  margin-left: 8px;
}

.content {
  border-radius: 2px;
  font-size: 12px;
  display: flex;
  align-items: stretch;

  &--size-small {
    border: none;
  }

  &--title {
    line-height: 24px;
    padding: 0px 8px;
    border-radius: 2px 0px 0px 2px;
  }

  &--body {
    padding: 4px;
    border: 1px solid $content-border-color;
    border-left: 0px;
    border-radius: 0px 2px 2px 0px;
  }

  &--editing > .content--title {
    padding: 0px;

    .content--title-form {
      display: flex;
      align-items: center;

      > input[name="title"] {
        background: transparent;
        margin: 5px;
        border: none;
        border-bottom: 1px solid;
        font-size: 12px;
      }

      > input[name="color"] {
        &::-moz-color-swatch,
        &::-webkit-color-swatch {
          outline: none;
        }
      }
    }
  }

  > .iconbutton {
    opacity: 0;
    transition: all ease-in-out 0.2s;
  }

  &--editing > .iconbutton {
    opacity: 1;
  }

  &:hover {
    .iconbutton {
      opacity: 1;
    }
  }
}
