$tag-border-radius: 2px;

.tags {
  &--tag {
    font-size: 12px;
    display: inline-flex;
    margin: 2px;
    padding: 0px 4px;
    color: white;
    border-radius: $tag-border-radius;
    user-select: none;

    transition: all ease-in-out 0.1s;
  }

  &--size-small {
    display: flex;
    align-items: center;

    transition: all ease-in-out 0.1s;

    &:hover {
      top: -8px;

      > .tags--tag {
        max-height: 20px;
        max-width: initial;
      }
    }

    > .tags--tag {
      font-size: 10px;
      padding: 0px 3px;
      margin: 0px;
      max-height: 4px;
      max-width: 15px;
      border-radius: 0px;
      overflow: hidden;
    }
  }
}
