.textinput {
  margin: 0px;
  padding: 0px 4px;
  font-size: 13px;
  line-height: 12px;
  min-width: 18px;
  min-height: 18px;
  box-sizing: border-box;

  &--editable {
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 16px;
  }

  &--line-single {
    white-space: nowrap;
    overflow: hidden;

    * {
      display: inline;
      white-space: nowrap;
    }
    br {
      display: none;
    }
    > span {
      padding: 0px 4px;
    }
  }

  &--line-multi {
    border: 1px solid;
    border-radius: 2px;
    padding: 2px 4px;
  }
}
