@import "variables.scss";

.mini-card .content {
  margin-left: 8px;
}

.content {
  position: relative;
  border-radius: 2px;
  font-size: 12px;
  display: flex;
  align-items: stretch;

  > .iconbutton.delete {
    position: absolute;
    top: -8px;
    right: -7px;
    opacity: 0;

    transition: all ease-in-out 0.1s;
  }

  &--main {
    display: flex;
    flex: 0 1 100%;

    .delete {
      opacity: 0;

      transition: all ease-in-out 0.1s;
    }

    &:hover .delete {
      opacity: 1;
    }
  }

  &--size-small {
    border: none;
  }

  &--title {
    display: flex;
    line-height: 24px;
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
    flex: 0 0 auto;

    > * {
      margin: 0px 2px;
    }
  }

  &--body {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid $content-border-color;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    overflow: hidden;
    flex: 0 1 100%;
  }

  &:hover &--body > .iconbutton.delete {
    opacity: 1;
  }

  &--editing .content--title {
    padding: 2px;

    .content--title-form {
      display: flex;
      align-items: flex-start;
      padding: 1px;

      .textinput {
        margin: 0px 2px;
      }

      > input[name="title"] {
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        font-size: 12px;
      }

      > input[name="color"] {
        &::-moz-color-swatch,
        &::-webkit-color-swatch {
          outline: none;
        }
      }
    }
  }

  &--editing .content--body {
    padding: 1px;
  }

  > .iconbutton {
    opacity: 0;
    transition: all ease-in-out 0.2s;
  }

  &--editing > .iconbutton {
    opacity: 1;
  }

  &:hover {
    .iconbutton {
      opacity: 1;
    }
  }
}
