.markdown {
  width: 100%;
  white-space: break-spaces;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;

  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 24px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0px;
    font-size: 16px;
  }

  p {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0px !important;
  }

  h1 {
    padding: 15px 8px;
    border-radius: 4px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 6px 0 !important;
    margin: 10px 0px !important;
  }

  // & > *:not(img):not(h1):not(ol):not(iframe) {
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }

  &--video,
  iframe {
    display: flex;
    margin: 0px !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  p > iframe {
    padding: 0px;
  }

  img {
    max-width: 300px;
    box-sizing: border-box;
  }

  &--size-small img {
    max-width: 100%;
  }

  &--video {
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
  }

  &--size-full {
    h1 {
      padding: 16px 10px;
    }
  }

  &--size-small {
    h1 {
      font-size: 22px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 14px;
    }
    p {
      margin: 0px 5px;
    }

    *:first-child {
      margin-top: 0px;
    }

    video {
      max-width: 270px;
    }
  }

  img,
  video {
    align-self: center;
    border-radius: 4px;
    padding: 0px;
  }
}
