.patient_editor {
  &--header {
    display: flex;

    &_bottom {
      display: flex;

      > .button:not(:last-child) {
        margin-right: 5px;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0px 10px;
    }
  }
}
