.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 4px;

  &--size {
    &-small {
      width: 285px;
      height: 155px;
      margin-right: 10px;
      margin-bottom: 10px;
      user-select: none;
      display: inline-block;
      overflow: hidden;
    }

    &-full {
      flex: 0 0 auto;
      padding: 0px;
      border: none !important;
      max-width: 660px;
      width: 100%;
      margin-bottom: 20px;
      min-height: 40px;
    }
  }

  &--type-youtube.post--size-small &--content {
    margin: 0px;
  }

  &--content {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;

    transition: transform 0.3s ease-in-out;
  }

  &--size-small &--content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  &--size-full.post--type-youtube &--content {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
  }

  &--type-youtube.post--size-small:hover &--content {
    transform: scale(1.1);
  }

  &--size-small.post--type-text &--content {
    overflow: hidden;
    white-space: break-spaces;
    box-sizing: border-box;

    background-color: #424242;
    background: linear-gradient(to bottom, #424242 70%, transparent 90%);

    background-clip: text;
    fill: transparent;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      top: 70%;
      bottom: 0px;
    }
  }

  &--size-small &--footer {
    position: absolute;
    bottom: 0px;
    padding: 4px;
    pointer-events: none;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
  }

  &--size-full &--footer {
    align-items: center;
    padding: 10px;
    padding-top: 0px;
  }

  &--size-small > &--spoiler + &--content {
    filter: blur(25px);
  }

  &--spoiler {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: #212121;
    font-size: 21px;
    left: 0px;
    top: 0px;
  }

  &--footer {
    display: flex;
    margin-top: 0px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
  }

  &--tags {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  &--tag:not(:last-child) {
    margin-right: 1px !important;
  }

  &--type-youtube &--content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--date {
    font-size: 14px;
    color: #424242;
    text-align: right;

    transition: all ease-in-out 0.1s;
  }

  &--icon {
    position: absolute;
    filter: drop-shadow(0px 0px 3px white);
  }

  &--below_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 640px;
    padding-bottom: 20px;
  }

  &--reaction > .button--label {
    font-size: 16px;
  }

  &--author {
    margin-right: 10px;
  }
}
