.posteditmodal {
  &--form {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
  }
  &--header,
  &--body > *:not(:last-child),
  &--footer {
    margin-bottom: 10px;
  }
  .taginput > input {
    margin-bottom: 10px;
  }
  &--header {
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
  }
  &--body {
    > .textarea {
      resize: none;
    }
  }
  &--hide {
    display: none;
  }
  &--taginput > .input {
    min-width: 100%;
  }
  &--options > * {
    margin-right: 5px !important;
  }
}
