.taginput {
  display: flex;
  flex-direction: column;
  z-index: 100;

  &--tag:not(:last-child) {
    margin-right: 2px;
  }

  &--input {
    display: inline-flex;
    align-items: center;
  }

  &--suggestions {
    display: inline-flex;
    padding-top: 15px;
    background: #eeeeee;
    padding: 2px;
    border-radius: 4px;

    > .tag:not(:last-child) {
      margin-right: 5px;
    }
  }

  &--floatSuggestions {
    position: relative;
  }
  &--floatSuggestions > &--suggestions {
    position: absolute;
    top: 100%;
    margin-top: 5px;
  }
}
