.taginput {
  display: flex;
  flex-direction: column;

  &--tag {
    margin-right: 2px;
  }

  &--input {
    display: inline-flex;
    align-items: center;
    max-width: 385px;
  }

  &--suggestions {
    display: inline-flex;
    padding-top: 10px;

    > .tag {
      margin-right: 5px;
    }
  }

  &--floatSuggestions {
    position: relative;
  }
  &--floatSuggestions > &--suggestions {
    position: absolute;
    top: 100%;
    margin-top: 5px;
  }
}
