.taginput {
  display: flex;
  flex-direction: column;

  > .input {
    max-width: 385px;
  }

  &--suggestions {
    > .tag {
      margin-right: 5px;
    }
  }

  &--floatSuggestions {
    position: relative;
  }
  &--floatSuggestions > &--suggestions {
    position: absolute;
    top: 100%;
    margin-top: 5px;
  }
}
